.icon_arr-l {
    width: 51px;
    height: 16px;
}
.icon_arr-left {
    width: 7px;
    height: 11px;
}
.icon_arr-r {
    width: 51px;
    height: 16px;
}
.icon_arr-right {
    width: 8px;
    height: 12px;
}
.icon_arrow-long-right {
    width: 161px;
    height: 16px;
}
.icon_arrow-right {
    width: 15px;
    height: 8px;
}
.icon_arrow-top {
    width: 30px;
    height: 18px;
}
.icon_baby {
    width: 38px;
    height: 38px;
}
.icon_bkm {
    width: 36px;
    height: 48px;
}
.icon_box {
    width: 38px;
    height: 38px;
}
.icon_budget {
    width: 60px;
    height: 60px;
}
.icon_cart {
    width: 22px;
    height: 19px;
}
.icon_celi {
    width: 28px;
    height: 28px;
}
.icon_charity {
    width: 22px;
    height: 22px;
}
.icon_circle {
    width: 86px;
    height: 86px;
}
.icon_circle-left {
    width: 41px;
    height: 41px;
}
.icon_clock {
    width: 40px;
    height: 40px;
}
.icon_close {
    width: 18px;
    height: 18px;
}
.icon_costumer {
    width: 35px;
    height: 46px;
}
.icon_cron {
    width: 28px;
    height: 28px;
}
.icon_delivery-man {
    width: 38px;
    height: 38px;
}
.icon_dia {
    width: 22px;
    height: 22px;
}
.icon_dialog {
    width: 20px;
    height: 20px;
}
.icon_dialogue-box {
    width: 56px;
    height: 56px;
}
.icon_email {
    width: 18px;
    height: 18px;
}
.icon_fb {
    width: 11px;
    height: 20px;
}
.icon_gluten-free {
    width: 36px;
    height: 36px;
}
.icon_heart {
    width: 26px;
    height: 26px;
}
.icon_immune {
    width: 36px;
    height: 36px;
}
.icon_inst {
    width: 18px;
    height: 18px;
}
.icon_marker {
    width: 18px;
    height: 18px;
}
.icon_maternity {
    width: 26px;
    height: 26px;
}
.icon_out {
    width: 30px;
    height: 30px;
}
.icon_package {
    width: 60px;
    height: 60px;
}
.icon_pay {
    width: 28px;
    height: 28px;
}
.icon_pen {
    width: 18px;
    height: 18px;
}
.icon_person {
    width: 22px;
    height: 25px;
}
.icon_play {
    width: 38px;
    height: 47px;
}
.icon_plus {
    width: 16px;
    height: 16px;
}
.icon_printing {
    width: 22px;
    height: 22px;
}
.icon_security {
    width: 38px;
    height: 38px;
}
.icon_shopping-basket {
    width: 60px;
    height: 60px;
}
.icon_soc-ok {
    width: 12px;
    height: 20px;
}
.icon_stomachache {
    width: 22px;
    height: 22px;
}
.icon_support {
    width: 60px;
    height: 60px;
}
.icon_truck {
    width: 28px;
    height: 28px;
}
.icon_vk {
    width: 22px;
    height: 12px;
}
.icon_wallet {
    width: 24px;
    height: 24px;
}
